%h4 Listing articles

= paginate @articles

%table
  %tr
    %th Category
    %th Title
    %th Body
    %th Like?
    %th Url
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.category.name
      %td= article.title
      %td= article.body
      %td
        = form_tag({:controller => 'articles', :id => article.id, :action => 'toggle'}, :method => 'put', :remote => true) do
          = submit_tag(article.like? ? 'Unlike' : 'Like', {:id => "button-#{article.id}", :onclick => "$(this).attr('value', '#{article.like? ? 'Like' : 'Unlike'}')"})
      %td= link_to(article.url, article.url)

%br
