%h3 Will I Like This?
%h5= "Title: #{@title}"
%br= "Classification: #{@yes_or_no[:classification]}"
%br= "Probability you'll LIKE it: #{@yes_or_no[:p_like]}"
%br= "Probability you'll DISLIKE it: #{@yes_or_no[:p_dislike]}"
%br

%h4
  So...
  - if @yes_or_no[:classification]
    You will probably like it :)
  - else
    You will probably NOT like it :(

%br= "Body"
%br= @body