= form_for @query do |f|
  -if @query.errors.any?
    #error_explanation
      %h2= "#{pluralize(@query.errors.count, "error")} prohibited this query from being saved:"
      %ul
        - @query.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :query
    = f.text_field :body
  .field
    = f.label :threshold
    = f.text_field :threshold
  .actions
    = f.submit 'Save'
